:root {
    --background: #555583;
    --background2: #65657e;
    --lightText: #f1f5f9;
}

html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

html.dark {
    background-color: #191f24;
    color: #818589;
}

.dark .nav-links a {
    color: #d3d3d3;
}

body {
    margin: 0;
    width: 100%;
    padding: 0;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

main {
    padding: 1rem;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.post-img {
    width: 100%;
    max-width: 800px;
}

/* nav styles */

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--background);
}

.nav-links {
    width: 100%;
    display: none;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 40px;
    background-color: var(--lightText);
    border-bottom: 1px solid var(--background2);
    border-right: 1px solid var(--background2);
}

.nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--background2);
}

.nav-links a:hover,
.nav-links a:focus {
    background: var(--background);
    color: var(--lightText);
}

.expanded {
    display: unset;
}

@media screen and (min-width: 636px) {
    .nav-links {
        display: block;
        position: static;
        width: auto;
        text-align: center;
        background: var(--background2);
        border-bottom: 2px solid var(--background);
        border-right: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
        color: var(--lightText);
    }

    .nav-links a:hover,
    .nav-links a:focus {
        background: var(--lightText);
        color: var(--background);
    }

    .hamburger {
        display: none;
    }
}