---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog Test - About</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>

		<h1>Astro Blog Test - About</h1>
        <p>Building out an Astro site to learn its flow. Then, I'll go through the SSG process & learn how to render server-side generated content. Then, I'll see how to do it with WordPress as a backend. With those in-place, I can generate headless SSG WP websites, with regard to pages & blog posts. Then, I'll figure out WooCommerce & we'll have  viable option for freelancing with static sites, blog sites & ecommerce sites.</p>
	</body>
</html>
