---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))
const pageTitle = "Astro Blog Test - Blog"
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <p>Blog posts from the Astro tutorial will go on this page.</p>

        <ul>
            {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
    </section>
</BaseLayout>

<style>
    main {
        padding: 1rem;
    }
</style>