---
const platform = "GitHub"
const username = "vishalicious213"
---

<footer>
    <p>See my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a></p>
    <p>Follow me on <a href={`https://bsky.app/profile/${username}.bsky.social`}>Bluesky</a></p>
    <p>Connect with me on <a href={`https://www.linkedin.com/in/vish213/`}>LinkedIn</a></p>

    <style>
        footer {
            margin-top: 2rem;
            padding: 1rem;
            background: var(--background2);
            color: white;
            text-align: center;
        }
        li {
            font-size: .9rem;
        }

        a {
            display: block;
            padding: 0.5rem 1rem;
            background: var(--lightText);
            color: var(--background2);
            font-weight: bold;
            text-decoration: none;
            margin: 1rem;
            border-radius: .25rem;
        }

        a:hover {
            color: black;
            background: white;
        }

        @media screen and (min-width: 500px) {
            footer {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 1rem;
            }
        }
    </style>
</footer>