---
const platform = "GitHub"
const username = "vishalicious213"
---

<footer>
    <ul>
        <li>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</li>
        <li>Follow me on <a href={`https://bsky.app/profile/${username}.bsky.social`}>Bluesky</a>!</li>
        <li>Follow me on <a href={`https://www.linkedin.com/in/vish213/`}>LinkedIn</a>!</li>
    </ul>
</footer>